@charset "UTF-8";

* {
    padding: 0px;
    margin: 0x;
    box-sizing: border-box;
}

/* Medium devices */

@media only screen and (min-width: 768px) {
    section {
        display: flex;

        height: 340px;
    }

    div#login-image {
        height: 240px;
        width: 400px;

        border-radius: 15px 0px 0px 15px;
    }

    div#form {
        border-radius: 0px 15px 15px 0px;

        width: 95vw;
    }

    input#iemail {
        width: 88%;
    }

    input#ipassword {
        width: 88%;
    }
}

/* Large devices */

@media only screen and (min-width: 992px) {
    section {
        flex-direction: row-reverse;

        height: 400px;
    }

    div#login-image {
        border-radius: 0px 15px 15px 0px;

        height: 300px;
        width: 600px;
    }

    div#form {
        border-radius: 15px 0px 0px 15px;
    }
}

/* Extra large devices */

@media only screen and (min-width: 1200px) {

    div#login-image {
        width: 300px;
    }

    div#form {
        width: 550px;
    }
}